#generate-btn{
  background-color: #800000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}

body {
  display: grid;
  grid-template-columns: minmax(150px, 30%) 1fr;
  padding: 0;
  margin: 0;
}

p {
  padding-left: 2rem;
  padding-right: 2rem;
}

.sidebar {
  background-color: pink;
  font-size: 2rem;
  text-align: center;
}

.content {
  padding: 2rem;
}

